<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ex2-1-11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACA392591E2F360B00F7BDD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACA392721E2F360B00F7BDD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACA3927D1E2F360B00F7BDD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
